@using DogKeepers.Client.Shared.Components.SignUp
@using DogKeepers.Client.Shared.Components.SignIn
<header id="header" class="row">
    <div class="col-12 col-md-4">
        <img src="images/logo/Logo.png" />
    </div>
    <div class="d-none d-md-block col-md-8 ">
        <div class="text-right">
            <div class="btn-group">
                <SignInButton />
                <SignUpButton />
            </div>
        </div>
    </div>
</header>