@using DogKeepers.Client.Shared.Components.SignUp
@using DogKeepers.Client.Shared.Components.SignIn
<header id="header" class="row">
    <div class="col-12 col-md-4">
        <img src="images/logo/Logo.png" />
    </div>
    <div class="d-none d-md-block col-md-8 ">
        <div class="text-right">
            <div class="btn-group">
                <AuthorizeView>
                    <NotAuthorized>
                        <SignInButton />
                        <SignUpButton />
                    </NotAuthorized>
                </AuthorizeView>
                <AuthorizeView Roles="user">
                    <Authorized>
                        <RadzenButton Icon="account_circle" />
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="administrator">
                    <Authorized>
                        <RadzenButton Icon="admin_panel_settings" />
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</header>