<nav id="menu" class="row">
    <ul class="row align-content-between">
        <li>
            <NavLink class="nav-link" href="/">
                Inicio
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Dogs">
                Adoptar
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Cuidados">
                Cuidados
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Donar">
                Donar
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/Contacto">
                Contacto
            </NavLink>
        </li>
    </ul>
</nav>