@inject DialogService dialogService
<button type="button"
        class="btn btn-light text-center"
        @onclick="@(args => dialogService.Open<SignInView>("", null, new DialogOptions() { ShowTitle = false }))">
    @Text
</button>
@code{
    [Parameter] public string Text { get; set; } = "Entrar";
}