@inherits LayoutComponentBase

<RadzenNotification />
<RadzenDialog />
<div class="container-fluid">
    <Header />
    <NavMenu />
    <main id="main" class="row">
        @Body
    </main>
    <Footer />
</div>