@inherits LayoutComponentBase
@inject DogKeepers.Client.Helpers.Authentication.TokenRefreshing tokenRefreshing

<RadzenNotification />
<RadzenDialog />
<div class="container-fluid">
    <Header />
    <NavMenu />
    <main id="main" class="row">
        @Body
    </main>
    <Footer />
</div>
@code{
    protected override void OnInitialized()
    {
        tokenRefreshing.Start();
    }
}